body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.594);
}
.main {
  /* border: 3px solid black; */
  width: 53%;
}
.logo {
  display: flex;
  justify-content: space-between;
}
.nav-bar {
  display: inline-block;
  padding: 125px 0 0;
}
button {
  background-color: #1b2035;
  color: white;
  border-radius: 5%;
  font-size: 20px;
}
h1 {
  font-size: 70px;
  color: white;
  background-color: #1b2035;
  padding: 5%;
}
.main-container {
  display: flex;
}
.news-container {
  width: fit-content;
}
.recent-news {
  border: 5px solid #5fb3bd;
  background-color: white;
  width: fit-content;
  padding: 1%;
}
.recent {
  display: flex;
  justify-content: center;
}